@using Sitecore.Mvc.Analytics.Extensions
<!DOCTYPE html>
@model RenderingModel
@{
  Layout = null;
}
<html>
<head>
  <title>@((object)Html.Sitecore().Field("title", new { DisableWebEdit = true }))</title>
    @VisitorExtensions.VisitorIdentification(Html.Sitecore())
</head>
  <body>
    <h1>@((object)Html.Sitecore().Field("title"))</h1>
    <div>
        @((object)Html.Sitecore().Placeholder("main"))
    </div>
  </body>
</html>