.top-bar-section {
-moz-box-shadow: 0 2px $arm-blue;
-webkit-box-shadow: 0 2px $arm-blue;
box-shadow: 0 2px $arm-blue;


.fa {
	margin-right:0.5em;
}
// }





}



// .top-bar-section ul li > a:after {
// 		 	position:relative;
// 			top:0.1em;	
// 		 	@extend.trans;
// 		 	height: 2px;
//     		display: block;
//     		background: $arm-grey;    		
//     		content: "";
// 			}


// 			.sticky{
// margin-top:10px;
// 			}

// .top-bar-section ul li > a {
//     -webkit-transition: all 0.2s ease .1s;
//     -moz-transition: background-color all 0.2s ease .1s;
//     -o-transition: background-color all 0.2s ease .1s;
//     transition: background-color all 0.2s ease .1s;
// 	}



