@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<!--1 start white section-->
<div class="row">
    <!--start containing row-->
    <div class="large-6 spacing-3 columns">
        <!--start first 6 col -->
        <!--start containing row-->
        <div class="row">
            <div class="large-6 columns">
                <img class="left" src="http://placehold.it/350x250">
            </div>
            <div class="large-6 columns">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem et magni voluptate eaque,
                </p>
            </div>
        </div>
    </div>

    <!-- end inside row-->
    <div class="large-6 spacing-3 columns">

        <div class="row">
            <div class="large-6 columns">
                <img class="left" src="http://placehold.it/350x250">
            </div>
            <div class="large-6 columns">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem et magni voluptate eaque,
                </p>
            </div>
        </div>
    </div>
</div>