@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
    <!--FourStandardTeasersWithImage-->
<div class="full-width blue">
    <div class="row">
        <div class="large-3 spacing-3 pushing-3 collapse columns">
            <h4>Test test</h4>

            <img src="http://placehold.it/650x450">
            <p class="spacing-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque inventore minima magni. </p>
            <p><a class="button expand">This Link</a></p>

        </div>
        <div class="large-3 spacing-3 columns">
            <h4>Test test</h4>

            <img src="http://placehold.it/650x450">
            <p class="spacing-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque inventore minima magni. </p>
            <p><a class="button expand">This Link</a></p>
        </div>
        <div class="large-3 spacing-3 columns">
            <h4>Test test</h4>

            <img src="http://placehold.it/650x450">
            <p class="spacing-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque inventore minima magni.  </p>
            <p><a class="button expand">This Link</a></p>

        </div>
        <div class="large-3 spacing-3 columns">
            <h4>Test test</h4>

            <img src="http://placehold.it/650x450">
            <p class="spacing-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo atque inventore minima magni. </p>
            <p><a class="button expand">This Link</a></p>

        </div>
    </div>
</div>
<!-- end blue section-->