@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<!-- TwoLargeTeasersWithImage -->
<div class="row">
    <div class="large-6 spacing-3 pushing-3 columns">

        <h2 class="text-center">Products & Technologies</h2>
        <img src="http://placehold.it/650x450">
        <p class="text-center spacing-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem et magni voluptate eaque,
        </p>
        <p class="text-center spacing-1">
            <a class="button">View Developer Zone</a>


        </p>


    </div>
    <div class="large-6 spacing-3 columns">

        <h2 class="text-center">ARM Developers</h2>
        <img src="http://placehold.it/650x450">
        <p class="text-center spacing-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem et magni voluptate eaque,
        </p>
        <p class="text-center spacing-1">
            <a class="button">View Developer Zone</a>
        </p>

    </div>
</div>
<!--End top section-->